*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
body{
    background: url(fondo.jpg);
    background-repeat:repeat-y;
    background-size:cover;
    width: 100%;
    height: 100vh;
}
header{
    height:300px ;
    width: max-content;
    margin: auto;
    text-align: center;
   text-shadow: -4px -4px 4px gray;
}
.cabezera{
    margin-top: 20px;
}
.cabezera h1{
    transition: 2s ease all;
}
.cabezera h1:hover{
    color: crimson;
    transform: scale(120%);
    
}

.navegator{
    background-color: rgba(85, 228, 133, 0.329) ;
    height: 50px;
    margin-bottom: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.navegator .dropdown{
   margin: auto;
   
}
.btn{
    background-color: rgba(255, 255, 0, 0.322);
    border-radius: 20px;
    color: black;
}

.informacion1{
    width: 100%;
    height:auto;
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 20px;
}
article{
    background-color: rgba(169, 177, 245, 0.267);
    box-shadow: -4px -2px 8px 2px;
    text-align: center;
    
}


#ocultar{
   display: none;
}
.registro h2{
    margin-top: 20px;
    border-bottom: 4px solid;
    display: inline;
    cursor: pointer;
}
article .regist{
    margin-right: 20%;
    text-align: end;
    
}
.carousel{
    width: 100%;
    height: auto;
}

main{
    margin-right: 40px;
}

main .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
    margin-right: 40px;
    width: 100%;
    height: 100vh;
    gap: 40px;
    border-radius: 40px;
    text-align:center;
}

.grid .informacion {
    background-color: rgb(121 226 204 / 0.50);
    box-shadow: -4px -2px 8px 2px;
    text-align: center;
    border-radius: 40px;
    transition: ease 1s all;
}
.grid .informacion:hover{
    transform: scale(108%);
    
    border-radius:0;
}
.informacion-four img{
   
    margin-top: 20%;    
}
.informacion-four{
    background-color: rgb(121 226 204 / 0.50);
    box-shadow: -4px -2px 8px 2px;
    border-radius: 40px;
    transition: ease 1s all;
}
.grid .informacion-four:hover{
    transform: scale(108%);
    
    border-radius:0;
}

.informacion-second{
    background-color: rgb(121 226 204 / 0.50);
    box-shadow: -4px -2px 8px 2px;
    text-align: center;
    transition: ease 1s all;
}
.grid .informacion-second:hover{
    transform: scale(108%);
    
    border-radius:40px;
}
    

.informacion-three{
    
    background-color: rgb(121 226 204 / 0.50);
    box-shadow: -4px -2px 8px 2px;
    text-align: center;
    transition: ease 1s all;

}
.grid .informacion-three:hover{
    transform: scale(108%);
    
    border-radius:40px;
}
.comentarios .mb-3{
    width: 70%;
    margin: auto;
}
footer{
    background-color: rgba(128, 255, 0, 0.466);
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

    
